In [7]:
s = "Hey i am from New Delhi"
print(len(s))
li = s.split(', ')
print(li)
type(li)

23
['Hey i am from New Delhi']

list

In [16]:
s = "name is rahul"
s.replace("n","N")

'NAME IS RAHUL'

In [17]:
s = "name is rahul"
s.replace("n","R")

'Rame is rahul'

In [18]:
s = "name is rahul"
s.upper()

'NAME IS RAHUL'

In [21]:
#length =l breadth = b
l = float(input("enter length: "))
b = float(input("enter breadth: "))
perimeter = 2*(l + b)
print(perimeter)

enter length: 4
enter breadth: 5
18.0

In [23]:
#diameter = d radius = r
d = float(input("enter diameter: "))
r = d/2
circumference = 2*3.14*r
print(circumference)
area = 3.14*r*r
print(area)

enter diameter: 6
18.84
28.259999999999998

In [28]:
#ax^2+bx+c
import cmath
a = 1
b = 4
c = 2
#discriminant
dis = (b**2) - (4* a*c)
#two roots
root1 = (-b-cmath.sqrt(dis))/(2*a)
root2 = (-b+cmath.sqrt(dis))/(2*a)
print("roots are ")
print(root1)
print(root2)

roots are
(-3.414213562373095+0j)
(-0.5857864376269049+0j)

In [32]:
# radius = r volume =v
r = float(input("enter radius: "))
v = 4/3 * 3.14*r**3
print(v)

enter radius: 4
267.94666666666666

In [39]:
n = int(input("enter the number: "))
count = 0
while(n>0):
    count=count+1
    n=n//10
print(count)

enter the number: 234
3

In [45]:
str = input("enter the string: ")
str.upper()

enter the string: my name is vamsi

'MY NAME IS VAMSI'

In [53]:
str = "this is string"
n = 3
replacement ='d'
str = str[0:n] + replacement  +str[n+1: ]
print(str)

thid is string

In [55]:
str = 'i am Vamsi'[::-1]
print(str)

ismaV ma i